:root {
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --blue: 0, 162, 255;
  --lighter-blue: 51, 180, 255;
  --darker-blue: 0, 128, 202;
  --dark-blue: 0, 51, 153;
  --gray: 220, 220, 220;
  --dark-gray: 136, 136, 136;
}

/* Common styles */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 4em;
  color: rgb(var(--black));
}

body, button, input[type=radio], select, textarea {
  font: 16px Helvetica, Arial, sans-serif;
}

button, input[type=radio], select, textarea, li {
  margin-top: 1em;
}

button, select {
  padding: .5em .8em;
}

button, select, textarea {
  border-radius: .5em;
  transition-duration: .5s;
}

select, textarea {
  border: 1px solid rgb(var(--gray));
}

select:hover, textarea:hover {
  border-color: rgb(var(--dark-gray));
  transition-duration: 0s;
}

/* Button */

button {
  background-color: rgb(var(--blue));
  color: rgb(var(--white));
  border-style: none;
  cursor: pointer;
}

button:hover {
  background-color: rgb(var(--lighter-blue));
  transition-duration: 0s;
}

button:active {
  background-color: rgb(var(--darker-blue));
}

button:disabled {
  background-color: rgb(var(--gray));
  cursor: default;
}

/* Radio button */

input[type=radio] {
  font-size: var(--minesweeper-font-size);
  visibility: hidden;
}

input[type=radio] + label {
  position: relative;
  cursor: pointer;
}

input[type=radio] + label::before {
  box-sizing: border-box;
  position: absolute;
  top: calc(50% - .5em);
  left: -1em;
  height: 1em;
  width: 1em;
  content: "";
  border: .35em solid rgb(var(--gray));
  background-color: rgb(var(--gray));
  border-radius: 50%;
}

input[type=radio]:hover + label::before {
  background-color: rgb(var(--white));
}

input[type=radio]:active + label::before {
  background-color: rgb(var(--white));
  border-color: rgb(var(--darker-blue));
}

input[type=radio]:checked + label::before {
  background-color: rgb(var(--white));
  border-color: rgb(var(--blue));
}

input[type=radio] + label {
  margin-right: 1em;
}

/* Select */

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  display: block;
  width: 15em;
  background-color: rgb(var(--white));

  /* To change arrow color be sure to use %23 instead of #, as it defined as URL */
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%2300A2FF%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right .7em top 50%;
  background-size: .65em auto;
  cursor: pointer;
}

select:disabled {
  color: rgb(var(--dark-gray));
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23888888%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
}

/* Text area */

textarea {
  width: 30em;
  height: 10em;
  padding: .8em;
  resize: none;
}

/* Other */

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 2em;
}

ul {
  list-style-position: outside;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
