* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 4em;
  color: #000;
}

body, button, input[type="radio"], select, textarea {
  font: 16px Helvetica, Arial, sans-serif;
}

button, input[type="radio"], select, textarea, li {
  margin-top: 1em;
}

button {
  padding: .5em;
}

input[type="radio"] + label {
  margin-right: 1em;
}

textarea {
  width: 50em;
  height: 10em;
  padding: .5em;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  margin: 2em 0 .5em;
}

ul {
  list-style-position: outside;
}

#client {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
